<section class="auth">
    <div class="panel">
      <div class="head">
        <h1 class="title">Login</h1>
        <p class="subtitle">Use your account to access the portal.</p>
      </div>
  
      <form class="form" [formGroup]="form" (ngSubmit)="submit()">
        <label class="field">
          <span class="label">Email</span>
          <input 
          class="input" 
          type="email" 
          placeholder="you@company.com" 
          formControlName="email"
          />
        </label>
  
        <label class="field">
          <span class="label">Password</span>
          <input 
          class="input"
          type="password" 
          placeholder="Enter password" 
          formControlName="password"
          />
        </label>
        <!-- Purpose: show error only when we have error text -->
         <!-- Angular introduced new control flow syntax
          old structural directives (*ngIf, *ngFor, *ngSwitch)
          are now deprecated, not removed
          problems : Uses * micro-syntax
          Less readable for complex conditions
          Harder for compier to optimize
          
      

          With @if 
          cleaner
          More readable
          Future-proof
          No deprecation warning
          -->
        
          <p *ngIf="success" class="success">{{ success }}</p>
          <p *ngIf="error" class="error">{{ error }}</p>
          
         
  
        <button class="btn primary" type="submit" [disabled]="loading">
            {{loading ? 'Logging in...' : 'Login'}}

        </button>
  
        <div class="meta">
          <span>Don't have an account?</span>
          <a class="link" routerLink="/register">Create Account</a>
        </div>
      </form>
    </div>
  </section>
  